<h1>Welcome to the e-commerce chat room</h1>
<article>
  <form id="form-message" class="form-group grid">
    <input class="form-control" id="input-message" type="text" placeholder="Escribe tu mensaje" required>
    <input type="submit" value="Enviar" class="btn btn-primary">
  </form>
</article>
<h3>Mensajes</h3>
<article>
  <div id="log-messages">
  </div>
</article>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>